<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="senthilsweb-senthilsdb" connectionString="Url=https://1.ravenhq.com/databases/senthilsweb-senthilsdb"></add>
  </connectionStrings>
  <appSettings>
    <add key="api-uri" value="http://localhost:9999"/>
    <add key="image-ur1" value="http://10.10.5.30/realestate/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
